.bingo-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten */
  justify-content: center; /* Centra los tableros */
  align-items: center; /* Centra verticalmente */
  gap: 20px; /* Espaciado entre los cartones */
  width: 100%;
  max-width: 1200px; /* Evita que se expandan demasiado en pantallas grandes */
  margin: 0 auto;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.bingo-column {
  text-align: center;
}

.bingo-cell {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border: 1px solid #007bff;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.bingo-cell.marked {
  background-color: #007bff;
  color: #fff;
}

.bingo-cell:hover {
  transform: scale(1.1);
}
